body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.content1
{
		
	background-size:100% 120%;
  background-position: ;
  background-image: linear-gradient(to right,rgba(255, 192,203,0.5) 50%,rgba(0,0,0,0.1) 50%), url(../images/bg_1.jpg);
  height:770px;
  width: 100%;
  background-repeat:no-repeat;

}
.t1 h1
{
	color: white;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 120px;
	margin-top: 250px;
}
.t1 h2
{
	color: white;
	font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Roboto Condensed", Arial, sans-serif;
	
}


.mouse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10em;
  z-index: 99; }

.mouse-icon {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block; }

.mouse-wheel {
  height: 30px;
  margin: 2px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
  color: #000000;
  font-size: 20px; }

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 1; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 1; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 1; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }





.trending
{
	height: 750px;
	width: 100%;
}
.tren h1
{
	font-family: "Lato", Arial, sans-serif;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    font-size: 150px;
    color: rgba(0, 0, 0, 0.04);
    font-weight: 900;
    letter-spacing: 1px;
}
.tren h2
{
	font-size: 30px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Arial, sans-serif;
    letter-spacing: 6px;
    margin-top: 150px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.box{
	width:350px;
	height:610px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}
.marvel{
	color:#fff;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: bebas kai;
	font-size: 20px;
}
logo{
	height: 60px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .marvel{
	color:#c0292b;
	transition: all ease 0.5s;
}

.content2
{
  height: 650px;
  width: 100%;
  background-color: #f8f9fa !important;
  margin-top: 170px;
}
.fas-i
{
    margin-top: 70% !important;
    margin-left: 38% !important;
    font-size: 100px;
    background-color: white;
    border-style: none;
    
  color:#f1b8c4;
   line-height: 1.3;
    position:;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -ms-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.c2 h2
{
  text-transform: uppercase;
    font-size: 70px;
    font-weight: 400;
    line-height: 1;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #000000;
    margin-left: 30px;
}
.c2 p
{
  color: #808080;
  font-family: "Lato", Arial, sans-serif;
  font-size: 17px;
    line-height: 1.8;
    font-weight: 400;
    margin-left: 25px;
}




.content3
{
  height: 950px;
  width: 100%;
  background-color: #f8f9fa;
}
.p1 h1
{
  font-family: "Lato", Arial, sans-serif;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    font-size: 150px;
    color: rgba(0, 0, 0, 0.04);
    font-weight: 900;
    letter-spacing: 1px;

}
.p1 h2
{
  font-size: 30px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Arial, sans-serif;
    letter-spacing: 6px;
    margin-top: 150px;
}
.p2 img
{
  height: 500px;
  width: 330px;
  margin-top: 50px;
  overflow: hidden !important;
  transition: 1s;
 
}
.p2 img:hover
{
  transform: scale(0.9) !important;

  

}
.text
{
  height: 150px !important;
  width: 330px !important;
  background-color: white;
}
.text h3
{
  color: black !important;
  font-size: 22px;
  font-family: "Lato", Arial, sans-serif;
}
.text h5
{
  color: black !important;
  border-top: 1px solid;
  width: 300px;
}








/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
  .tren h1
{
  display: none;
}
.p1 h1
{
  display: none;
}
	
}






@media (max-width: 480px){


.t1 h1
{
	color: white;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 70px;
	margin-top: 270px;
}
.t1 h2
{
	color: white;
	font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Roboto Condensed", Arial, sans-serif;
	
}

.tren h1
{
  display: none;
}

.fas-i
{
  margin-top: 300px !important;
}
.p1 h1
{
  display: none;
}
.p1 h2
{
  margin-top: 1100px;
}
.c2 h2
{
  font-size: 60px;
}



}